<% include header %>

<script src='/d3.min.js'></script>
<script type="text/javascript">
$(function(){
    var w = 300,                        //width
    h = 300,                            //height
    r = 100,                            //radius
    color = d3.scale.category20c();     //builtin range of colors
        
    var data = [
        <% for(var i=0; i<data.length; i++) { %>
            {label: "<%= data[i].name %>", value: <%= data[i].percent %>},
        <% } %>
    ];

    data.sort(function (a,b) {
        if (a.value < b.value)
            return 1;
        if (a.value > b.value)
            return -1;
        return 0;
    });

    piechart(data);

    function piechart(d){
        var width = 500,
        height = 500,
        radius = Math.min(width, height) / 2 - 10;

        var data = [];

        for(var k in d)
            data.push(d[k].value);

        var color = d3.scale.category20();

        var arc = d3.svg.arc()
            .outerRadius(radius);

        var pie = d3.layout.pie();

        var svg = d3.select(".svg").append("svg")
            .datum(data)
            .attr("width", width)
            .attr("height", height)
          .append("g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

        var arcs = svg.selectAll("g.arc")
            .data(pie)
          .enter().append("g")
            .attr("class", "arc");

        arcs.append("path")
            .attr("fill", function(d, i) { return color(i); })
          .transition()
            .duration(700)
            .attrTween("d", tweenPie)
          .transition()
            .ease("elastic")
            .delay(function(d, i) { return 2000 + i * 50; })
            .duration(750);


        function tweenPie(b) {
          b.innerRadius = 0;
          var i = d3.interpolate({startAngle: 0, endAngle: 0}, b);
          return function(t) { return arc(i(t)); };
        }

        jQuery.each(d, function(i, val) {
            $('tbody').append("<tr><th><div class='legendColor' style='background: "+ color(i)  +"'></th><th>" + val.label + "</th><th>"+ val.value.toFixed(1) +"</th></tr>");
        });
    }
});
</script>
<div class="row">
    <div class="col-sm-8 col-md-8">
        <div class="thumbnail">
            <div class="svg"></div>
        </div>
    </div>

    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <h2>Legend:</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Color</th>
                        <th>Genre</th>
                        <th>Percentage</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
            <div id="legend"></div>
        </div>
    </div>
</div>

<% include footer %>