<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TOP 20 Films</title>
        <script src='jquery.min.js'></script>
        <script src='/js/bootstrap.min.js'></script>
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/css/custom.css" rel="stylesheet" media="screen">
    </head>
    <body>   
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">TOP20</a>
        </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href='/topGenre'>Genres top</a>
                    <li><a href='/search'>Search</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="jumbotron">
            <h1>TOP 20 Films</h1>
            <p>Welcome to top 20 films site, we have prepared a few statistics you must see!</p>
        </div>              
    
    
        
        
            
        
